{% extends 'layout.html ' %}

{% load static %}
{% block title %}
    Main
{% endblock title %}

{% block content %}
    <div class="container" >
        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading">
                <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
                必看说明 更新时间2023.8.31
            </div>
            <div>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>主题</th>
                            <th>内容</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>使用说明只有创建一个账号然后登入才有权限访问除了FTmain的其他页面求求了创建一个账号吧</td>
                            <td ><a href="https://space.bilibili.com/2102473659/"> B站主页 </a></td>
                        </tr>

                    </tbody>
                     <tbody>
                        <tr>
                            <td>导航栏随便点一个会跳转到登入界面</td>
                            <td ><a href="https://space.bilibili.com/2102473659/"> B站主页 </a></td>
                        </tr>

                    </tbody>
                     <tbody>
                        <tr>
                            <td>愿我们永远保持对未知事物的激情。</td>
                            <td ><a href="https://space.bilibili.com/2102473659/"> B站主页 </a></td>
                        </tr>

                    </tbody>
                </table>
            </div>

        </div>

    </div>
    <div class="container">
        {#新建按钮#}


        {#面板#}
        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading">
                <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
                主营业务表 本站永久免费
            </div>

            <!-- Table -->
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>主题</th>
                    <th>内容</th>
                </tr>
                </thead>
                <tbody>

                    <tr>


                        <td>网站还在持续 开发中 BUG 请无视</td>
                        <td ><a href="https://space.bilibili.com/2102473659/"> B站主页 </a></td>

                    </tr>

                </tbody>
                <tbody>

                    <tr>

                        <td>又完成python小功能</td>
                        <td ><a href="https://www.bilibili.com/video/BV1V8411m7Kj/?spm_id_from=333.999.0.0">https://www.bilibili.com/video/BV1V8411m7Kj/?spm_id_from=333.999.0.0</a></td>

                    </tr>

                </tbody>
                <tbody>

                    <tr>

                        <td>本项目由Python+Mysql+django组成</td>
                        <td ><a href="https://space.bilibili.com/2102473659/"> 主页 </a></td>

                    </tr>

                </tbody>
                <tbody>

                    <tr>

                        <td>感谢武沛齐老师</td>
                        <td ><a href="https://www.bilibili.com/video/BV1rT4y1v7uQ"> https://www.bilibili.com/video/BV1rT4y1v7uQ </a></td>

                    </tr>

                </tbody>
                <tbody>

                    <tr>

                        <td>必看：使用说明只有创建一个账号然后登入才有权限访问除了FTmain的其他页面求求了创建一个账号吧</td>
                        <td ><a href="https://space.bilibili.com/2102473659/"> 主页 </a></td>

                    </tr>

                </tbody>
                <tbody>

                    <tr>

                        <td>Github开源项目分享</td>
                        <td ><a href="https://github.com/FT1142558190?tab=repositories"> https://github.com/FT1142558190?tab=repositories </a></td>

                    </tr>

                </tbody>

            </table>
        </div>
    </div>
    <div class="container" >
    <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading">
                <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
                本站永久免费奈何作者精力有限诚招有志之士共同开发
            </div>
        <div><a>免费运维，理性投喂，精神上的支持就很满足了。</a></div>
            <div> <img src="{% static 'img/收款码.png' %}" alt="" id="img"/></div>
    </div>

    </div>
{% endblock content %}